@keyframes animate_text {
    0% {
        width: 100px;
    }
    50% {
        width: 300px;
    }
    100% {
        width: 100px;
    }
}

@keyframes move_up {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show_up {
    0% {
        transform: scale(0);
        opacity: 0;
        
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}